---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://p.glasskube.eu" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Distr - Software Distribution Platform</title>
    <script>
      (() => {
        const getColorSchemeQuery = () =>
          window.matchMedia('(prefers-color-scheme: dark)');
        const getPreferredTheme = () =>
          localStorage['starlight-theme'] ||
          (getColorSchemeQuery().matches ? 'dark' : 'light');
        const setPreferredTheme = () =>
          document.body.setAttribute('data-theme', getPreferredTheme());
        getColorSchemeQuery().addEventListener('change', () =>
          setPreferredTheme(),
        );
        addEventListener('storage', () => setPreferredTheme());
        setPreferredTheme();
      })();
    </script>
    <script is:inline>
      !function (t, e) {
        var o, n, p, r;
        e.__SV || (window.posthog = e, e._i = [], e.init = function (i, s, a) {
          function g(t, e) {
            var o = e.split(".");
            2 == o.length && (t = t[o[0]], e = o[1]), t[e] = function () {
              t.push([e].concat(Array.prototype.slice.call(arguments, 0)))
            }
          }

          (p = t.createElement("script")).type = "text/javascript", p.crossOrigin = "anonymous", p.async = !0, p.src = s.api_host + "/static/array.js", (r = t.getElementsByTagName("script")[0]).parentNode.insertBefore(p, r);
          var u = e;
          for (void 0 !== a ? u = e[a] = [] : a = "posthog", u.people = u.people || [], u.toString = function (t) {
            var e = "posthog";
            return "posthog" !== a && (e += "." + a), t || (e += " (stub)"), e
          }, u.people.toString = function () {
            return u.toString(1) + ".people (stub)"
          }, o = "capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags getFeatureFlag getFeatureFlagPayload reloadFeatureFlags group updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures getActiveMatchingSurveys getSurveys getNextSurveyStep onSessionId".split(" "), n = 0; n < o.length; n++) g(u, o[n]);
          e._i.push([i, s, a])
        }, e.__SV = 1)
      }(document, window.posthog || []);
      posthog.init('phc_EloQUW6cgfbTc0pI9c5CXElhQ4gVGRoBsrUAoakJVoQ', {
        api_host: 'https://p.glasskube.eu',
        ui_host: 'https://eu.posthog.com',
      })</script>
  </head>
  <body class="bg-white dark:bg-gray-900 m-0 min-h-screen">
    <header class="bg-white dark:bg-gray-900">
      <nav class="px-4 lg:px-6 py-2.5">
        <div class="flex flex-wrap justify-end items-center">
          <a href="https://cal.glasskube.com/team/gk/demo"
             target="_blank"
             class="relative no-underline text-xs inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 rounded-lg no-underline group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
            <span
              class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0 ">
              Get a demo
            </span>
          </a>
          <a href="https://signup.distr.sh"
             target="_blank"
             class="ml-6 text-white no-underline text-xs bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg px-5 py-2.5 text-center">
            Get started for free
          </a>

          <a href="https://app.distr.sh"
             target="_blank"
             class="font-medium text-blue-500 hover:underline ml-6">
            Login
          </a>

        </div>
      </nav>
    </header>
    <section class="bg-white dark:bg-gray-900 min-h-screen">
      <div
        class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12"
        role="alert">
        <a
          href="https://github.com/glasskube/distr"
          target="_blank"
          class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-gray-700 bg-gray-100 rounded-full dark:bg-gray-800 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700">
          <span
            class="text-xs bg-primary-600 rounded-full text-gray-900 dark:text-white px-4 py-1.5 mr-3">
            New
          </span>
          <span class="text-sm font-medium">
            Distr v1 was just released on GitHub
          </span>
          <svg
            class="ml-2 w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
        <h1
          class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
          The easiest way to distribute enterprise software
        </h1>
        <p
          class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
          Distr is an Open Source Software Distribution Platform helping
          software vendors distribute their software to enterprises on-prem.
          Customers use us to manage applications and agent components in
          customer controlled environments.
        </p>
        <div
          class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
          <a
            href="/docs"
            class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
            Read the docs
          </a>
        </div>
        <div
          class="px-4 mx-auto text-center md:max-w-screen-md lg:max-w-screen-lg lg:px-36">
          <span class="font-semibold text-gray-400 uppercase">MADE BY</span>
          <div class="">
            <a href="https://glasskube.dev">
              <img
                src="https://glasskube.eu/de/assets/glasskube-logo-brand-horizontal.svg"
                alt="Glasskube"
                class="mx-auto max-w-64"
              />
            </a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
