<div class="z-50 w-256 max-w-full max-h-full overflow-x-hidden overflow-y-auto">
  <div class="relative w-full max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b border-gray-200 rounded-t dark:border-gray-600">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          <span class="text-gray-500 dark:text-gray-400">{{ versionDetail().application.name }}</span>
          {{ versionDetail().version.name }}
        </h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          (click)="close()">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>

      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">
        @if (versionDetail(); as detail) {
          <div class="text-gray-500 dark:text-gray-400">
            <div class="flex flex-wrap border-b border-gray-200 dark:border-gray-600">
              <button
                type="button"
                (click)="activeTab.set('link')"
                class="tab-label text-sm cursor-pointer inline-flex items-center justify-center p-2 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                [class.text-blue-600]="activeTab() === 'link'"
                [class.dark:text-blue-500]="activeTab() === 'link'"
                [class.border-blue-600]="activeTab() === 'link'"
                [class.border-transparent]="activeTab() !== 'link'">
                General
              </button>

              @if (detail.application.type === 'docker') {
                <button
                  type="button"
                  (click)="activeTab.set('compose')"
                  class="tab-label text-sm cursor-pointer inline-flex items-center justify-center p-2 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                  [class.text-blue-600]="activeTab() === 'compose'"
                  [class.dark:text-blue-500]="activeTab() === 'compose'"
                  [class.border-blue-600]="activeTab() === 'compose'"
                  [class.border-transparent]="activeTab() !== 'compose'">
                  Docker Compose File
                </button>
                <button
                  type="button"
                  (click)="activeTab.set('environment')"
                  class="tab-label text-sm cursor-pointer inline-flex items-center justify-center p-2 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                  [class.text-blue-600]="activeTab() === 'environment'"
                  [class.dark:text-blue-500]="activeTab() === 'environment'"
                  [class.border-blue-600]="activeTab() === 'environment'"
                  [class.border-transparent]="activeTab() !== 'environment'">
                  Template for Environment File
                </button>
              } @else if (detail.application.type === 'kubernetes') {
                <button
                  type="button"
                  (click)="activeTab.set('basevalues')"
                  class="tab-label text-sm cursor-pointer inline-flex items-center justify-center p-2 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                  [class.text-blue-600]="activeTab() === 'basevalues'"
                  [class.dark:text-blue-500]="activeTab() === 'basevalues'"
                  [class.border-blue-600]="activeTab() === 'basevalues'"
                  [class.border-transparent]="activeTab() !== 'basevalues'">
                  Base Values
                </button>
                <button
                  type="button"
                  (click)="activeTab.set('customervalues')"
                  class="tab-label text-sm cursor-pointer inline-flex items-center justify-center p-2 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                  [class.text-blue-600]="activeTab() === 'customervalues'"
                  [class.dark:text-blue-500]="activeTab() === 'customervalues'"
                  [class.border-blue-600]="activeTab() === 'customervalues'"
                  [class.border-transparent]="activeTab() !== 'customervalues'">
                  Template for Customer Values
                </button>
              }

              @for (resource of detail.resources; track resource.id) {
                <button
                  type="button"
                  (click)="activeTab.set('resource-' + $index)"
                  class="tab-label text-sm cursor-pointer inline-flex items-center justify-center p-2 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                  [class.text-blue-600]="activeTab() === 'resource-' + $index"
                  [class.dark:text-blue-500]="activeTab() === 'resource-' + $index"
                  [class.border-blue-600]="activeTab() === 'resource-' + $index"
                  [class.border-transparent]="activeTab() !== 'resource-' + $index">
                  {{ resource.name }}
                </button>
              }
            </div>

            <div class="mt-4">
              @if (activeTab() === 'link') {
                <div class="space-y-2">
                  <label for="linkTemplate" class="block text-sm font-medium text-gray-900 dark:text-white">
                    Version Link Template
                  </label>
                  <input
                    type="text"
                    id="linkTemplate"
                    [formControl]="versionDetailsForm.controls.linkTemplate"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                  <p class="text-xs text-gray-500 dark:text-gray-400">
                    You can use the Go template language to get a dynamic link based on
                    @if (detail.application.type === 'docker') {
                      <span ngNonBindable
                        >environment variables (<code>{{ .Env.HOSTNAME }}</code
                        >).</span
                      >
                    } @else if (detail.application.type === 'kubernetes') {
                      <span ngNonBindable
                        >user provided values (<code>{{ .Values.app.ingress.hostname }}</code
                        >).</span
                      >
                    }
                  </p>
                </div>
              }

              @if (detail.application.type === 'docker') {
                @if (activeTab() === 'compose') {
                  <app-editor
                    id="compose-file"
                    language="yaml"
                    class="block p-2.5 w-full font-mono text-sm text-gray-900 caret-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:caret-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    [formControl]="versionDetailsForm.controls.docker.controls.compose">
                  </app-editor>
                }
                @if (activeTab() === 'environment') {
                  <app-editor
                    id="env-file"
                    class="block p-2.5 w-full font-mono text-sm text-gray-900 caret-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:caret-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    [formControl]="versionDetailsForm.controls.docker.controls.template">
                  </app-editor>
                }
              } @else if (detail.application.type === 'kubernetes') {
                @if (activeTab() === 'basevalues') {
                  <app-editor
                    id="basevalues-file"
                    language="yaml"
                    class="block p-2.5 w-full font-mono text-sm text-gray-900 caret-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:caret-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    [formControl]="versionDetailsForm.controls.kubernetes.controls.baseValues">
                  </app-editor>
                }
                @if (activeTab() === 'customervalues') {
                  <app-editor
                    id="customervalues-file"
                    class="block p-2.5 w-full font-mono text-sm text-gray-900 caret-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:caret-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    [formControl]="versionDetailsForm.controls.kubernetes.controls.template">
                  </app-editor>
                }
              }

              @for (resource of detail.resources; track resource.id) {
                @if (activeTab() === 'resource-' + $index) {
                  <div
                    class="markdown p-4 rounded-lg border border-gray-200 dark:border-gray-500 text-gray-900 dark:text-white"
                    [innerHTML]="resource.content | markdown | async"></div>
                }
              }
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
