<div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
  @if (fullVersion) {
    <div
      class="flex flex-col md:flex-row items-stretch md:items-center md:space-x-3 space-y-3 md:space-y-0 justify-between mx-4 py-4 dark:border-gray-700">
      <div class="w-full md:w-1/2">
        <form class="flex items-center" [formGroup]="filterForm">
          <label for="simple-search" class="sr-only">Search</label>
          <div class="relative w-full">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <fa-icon [icon]="faMagnifyingGlass" class="text-gray-500 dark:text-gray-400"></fa-icon>
            </div>
            <input
              [formControl]="filterForm.controls.search"
              autotrim
              type="text"
              id="simple-search"
              placeholder="Filter applications"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
          </div>
        </form>
      </div>
      <div
        class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
        <button
          *appPermissions="{vendor: true, role: ['read_write', 'admin']}"
          (click)="openCreateModal(newApplicationModal)"
          type="button"
          id="createApplicationButton"
          class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          <fa-icon [icon]="faPlus" class="text-gray-500 dark:text-gray-400 mr-2"></fa-icon>
          Add application
        </button>
        <div class="flex items-center space-x-3 w-full md:w-auto">
          <ng-template
            cdkConnectedOverlay
            [cdkConnectedOverlayHasBackdrop]="true"
            (backdropClick)="showDropdown = false"
            [cdkConnectedOverlayPositions]="[{originX: 'end', overlayX: 'end', originY: 'bottom', overlayY: 'top'}]"
            [cdkConnectedOverlayBackdropClass]="'transparent'"
            [cdkConnectedOverlayOpen]="showDropdown">
            <div
              @dropdown
              style="transform-origin: top center"
              class="my-2 w-44 bg-white rounded-sm divide-y divide-gray-100 shadow-sm dark:bg-gray-700 dark:divide-gray-600">
              <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="actionsDropdownButton">
                <li>
                  <a href="#" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Mass Edit</a
                  >
                </li>
              </ul>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  }
  <div class="overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="border-t border-gray-200 dark:border-gray-600 text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          @if (fullVersion) {
            <th scope="col" class="p-4">Id</th>
          }
          <th scope="col" class="p-4">Application</th>
          <th scope="col" class="p-4">Type</th>
          <th scope="col" class="p-4">Versions</th>
          @if (fullVersion) {
            <th scope="col" class="p-4">Creation Date</th>
            <th scope="col" class="p-4"></th>
          }
        </tr>
      </thead>
      <tbody>
        @for (application of applications$ | async; track application.id) {
          <tr class="border-t border-gray-200 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
            @if (fullVersion) {
              <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <app-uuid [uuid]="application.id!" />
              </td>
            }
            <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              <a [routerLink]="['/', 'applications', application.id]">
                <div class="flex items-center mr-3">
                  @if (application.imageUrl) {
                    <img
                      class="w-8 h-8 mr-3 rounded-sm"
                      [attr.src]="application.imageUrl | secureImage | async"
                      alt="" />
                  } @else {
                    <img
                      [ngSrc]="'/' + application.type + '.png'"
                      [alt]="application.type"
                      class="h-8 w-auto mr-3 rounded-sm"
                      height="199"
                      width="199" />
                  }
                  <span class="max-w-32 sm:max-w-64 lg:max-w-128 overflow-hidden text-ellipsis">
                    {{ application.name }}
                  </span>
                </div>
              </a>
            </td>
            <td class="px-4 py-3">
              <span
                class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-blue-900 dark:text-blue-300">
                {{ application.type }}
              </span>
            </td>
            <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              <div class="flex items-center">
                {{ application.versions?.length || 0 }}
              </div>
            </td>
            @if (fullVersion) {
              <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <div class="flex items-center">
                  {{ application.createdAt | date: 'short' }}
                </div>
              </td>
              <td
                class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white flex justify-end space-x-2">
                <a
                  *appRequireVendor
                  [routerLink]="['/', 'applications', application.id]"
                  class="py-2 px-3 flex items-center text-sm font-medium text-center text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                  <fa-icon [icon]="faPen" class="h-4 w-4 mr-2 -ml-0.5 text-gray-500 dark:text-gray-400"></fa-icon>
                  Details
                  <ng-template [appRequiredRole]="['admin', 'read_write']">/ Edit</ng-template>
                </a>
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<ng-template #newApplicationModal>
  <div
    @modalFlyInOut
    style="transform-origin: top center"
    class="p-4 w-128 my-auto max-h-full overflow-y-auto bg-white rounded-lg shadow-sm dark:bg-gray-900">
    <div class="relative w-full max-h-full">
      <div class="relative rounded-lg">
        <div
          class="flex items-center justify-between p-4 md:p-5 border-b border-gray-200 rounded-t dark:border-gray-600">
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Create Application</h3>
          <button
            type="button"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
            (click)="hideCreateModal()">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>

        <div class="p-4 md:p-5">
          <form [formGroup]="createApplicationForm" (ngSubmit)="createApplication()">
            <div>
              <div class="space-y-4 sm:flex sm:space-x-4 sm:space-y-0">
                <div class="w-full">
                  <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Application Name *</label
                  >
                  <input
                    [formControl]="createApplicationForm.controls.name"
                    autotrim
                    autocomplete="off"
                    type="text"
                    name="name"
                    id="name"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
                  @if (createApplicationForm.controls.name.invalid && createApplicationForm.controls.name.touched) {
                    <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
                  }
                </div>
              </div>

              <div class="mt-4">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Application Type *</label
                >
                <div class="mb-2 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2">
                  <div
                    class="rounded-lg border border-gray-200 bg-gray-50 p-4 ps-4 dark:border-gray-700 dark:bg-gray-800">
                    <div class="flex items-start">
                      <div class="flex h-5 items-center">
                        <input
                          id="app-type-docker-radio"
                          [formControl]="createApplicationForm.controls.type"
                          aria-describedby="app-type-docker-radio-text"
                          type="radio"
                          name="appType"
                          value="docker"
                          class="h-4 w-4 border-gray-300 bg-gray-100 text-primary-700 focus:ring-2 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600" />
                      </div>

                      <div class="ms-4 text-sm">
                        <label for="app-type-docker-radio" class="font-bold leading-none text-gray-900 dark:text-white"
                          >Docker Compose</label
                        >
                        <p
                          id="app-type-docker-radio-text"
                          class="mt-1 text-xs font-normal text-gray-500 dark:text-gray-400">
                          I have a docker compose file.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div
                    class="rounded-lg border border-gray-200 bg-gray-50 p-4 ps-4 dark:border-gray-700 dark:bg-gray-800">
                    <div class="flex items-start">
                      <div class="flex h-5 items-center">
                        <input
                          id="app-type-kubernetes-radio"
                          [formControl]="createApplicationForm.controls.type"
                          aria-describedby="app-type-kubernetes-radio-text"
                          type="radio"
                          name="appType"
                          value="kubernetes"
                          class="h-4 w-4 border-gray-300 bg-gray-100 text-primary-700 focus:ring-2 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600"
                          checked />
                      </div>

                      <div class="ms-4 text-sm">
                        <label
                          for="app-type-kubernetes-radio"
                          class="font-bold leading-none text-gray-900 dark:text-white">
                          Helm / Kubernetes
                        </label>
                        <p
                          id="app-type-kubernetes-radio-text"
                          class="mt-1 text-xs font-normal text-gray-500 dark:text-gray-400">
                          I have a Helm chart.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                @if (createApplicationForm.controls.type.invalid && createApplicationForm.controls.type.touched) {
                  <p class="text-sm text-red-600 dark:text-red-500">Field is required.</p>
                }
              </div>

              <div class="flex justify-stretch sm:justify-end mt-5 space-x-2.5">
                <button
                  type="submit"
                  [disabled]="createApplicationFormLoading"
                  class="flex-1 sm:flex-none items-center justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Create Application
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
