<div class="relative w-256 max-w-full max-h-full bg-white dark:bg-gray-700 rounded-lg shadow-sm overflow-x-hidden">
  <!-- Modal header -->
  <div class="flex items-center justify-between p-4 md:p-5 border-b border-gray-200 rounded-t dark:border-gray-600">
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
      Deployment Details: {{ deploymentTarget().name }}
      -
      <span>{{ deployment().application.name }}&#64;{{ deployment().applicationVersionName }}</span>
    </h3>
    <button
      type="button"
      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
      (click)="hideModal()">
      <fa-icon [icon]="faXmark"></fa-icon>
      <span class="sr-only">Close modal</span>
    </button>
  </div>
  <!-- Modal body -->
  <div class="pb-4 md:pb-5">
    <div
      class="px-4 pt-2 md:px-5 md:pt-3 flex flex-wrap sticky top-0 z-10 bg-white dark:bg-gray-700 text-gray-500 dark:text-gray-400">
      <div>
        <input
          type="radio"
          id="tab-default"
          name="logs-tabs"
          class="hidden peer"
          [checked]="selectedResource() === null"
          (change)="selectedResource.set(null)" />
        <label
          for="tab-default"
          class="tab-label peer-checked:text-blue-600 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 dark:peer-checked:border-blue-500 text-sm cursor-pointer inline-flex items-center justify-center p-2 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">
          Agent Status
        </label>
      </div>
      @for (resource of resources | async; track resource) {
        <div>
          <input
            type="radio"
            [id]="'tab-' + resource"
            name="logs-tabs"
            class="hidden peer"
            [checked]="selectedResource() === resource"
            (change)="selectedResource.set(resource)" />
          <label
            [for]="'tab-' + resource"
            class="tab-label peer-checked:text-blue-600 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 dark:peer-checked:border-blue-500 text-sm cursor-pointer inline-flex items-center justify-center p-2 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">
            {{ resource }}
          </label>
        </div>
      }
    </div>
    @if (selectedResource(); as resource) {
      <app-deployment-logs-table [deploymentId]="deployment().id!" [resource]="resource" />
    } @else {
      <app-deployment-status-table [deploymentId]="deployment().id!" />
    }
  </div>
</div>
