apiVersion: v2
name: distr
description: The easiest way to distribute enterprise software
keywords:
  - distr
  - software distribution
  - on-prem management
  - docker
  - kubernetes
maintainers:
  - name: Glasskube
    url: https://github.com/glasskube
icon: >-
  https://github.com/distr-sh/distr/raw/refs/heads/main/frontend/ui/public/distr-logo.svg
home: https://distr.sh/docs/
type: application
version: 2.11.2
appVersion: 2.11.2
dependencies:
  - name: postgresql
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 16.x.x
    condition: postgresql.enabled
  - name: minio
    repository: https://charts.min.io
    version: 5.x.x
    condition: minio.enabled
