@if (!isClosing()) {
  <div
    class="relative p-4 w-full max-w-2xl max-h-full lg:mt-32"
    animate.enter="animate-fly-in-top"
    animate.leave="animate-fly-out-top"
    (animationend)="animationComplete()">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <form [formGroup]="form" (ngSubmit)="save()">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Upload Image</h3>
          <button
            type="button"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
            (click)="dialogRef.dismiss()">
            <fa-icon [icon]="faXmark" />
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <div class="p-4 md:p-5 space-y-4">
          <div class="grid gap-4">
            <div class="space-y-4">
              <div>
                <div>
                  @if (imageSrc | async; as image) {
                    <img class="h-48 mb-4" [src]="image" alt="Image" />
                    <button
                      type="button"
                      (click)="deleteImage()"
                      class="px-3 py-2 text-xs font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                      Delete
                    </button>
                  } @else {
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">
                      Image
                    </label>
                    <input
                      accept="image/svg+xml,image/png,image/jpeg,image/gif"
                      (change)="onImageChange($event)"
                      class="w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                      aria-describedby="file_input_help"
                      id="file_input"
                      type="file" />
                  }
                </div>

                <p class="mt-1 mb-3 text-xs font-normal text-gray-500 dark:text-gray-400" id="file_input_help">
                  SVG, PNG, JPG or GIF (recommended size 64px x 64px - square)
                </p>
                <div class="flex items-center space-x-2.5"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div
          class="flex items-center justify-end p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600 gap-2">
          <button
            (click)="dialogRef.dismiss()"
            type="button"
            class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            Cancel
          </button>
          <button
            type="submit"
            [disabled]="form.invalid || formLoading()"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 disabled:opacity-60 disabled:cursor-not-allowed">
            Upload
          </button>
        </div>
      </form>
    </div>
  </div>
}
