<nav class="sticky top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
  @let organization = currentOrg();
  @if (isSubscriptionBannerVisible() && organization) {
    <app-nav-bar-subscription-banner
      [organization]="organization"
      [isTrial]="isTrial()"
      [isSubscriptionExpired]="isSubscriptionExpired()">
    </app-nav-bar-subscription-banner>
  }

  @if (tutorial()) {
    <div class="relative">
      <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 mt-8">
        <a
          [routerLink]="['tutorials', tutorial()]"
          class="flex-1 sm:flex-none items-center justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          <fa-icon [icon]="faArrowLeft" class="me-4"></fa-icon>
          Continue Tutorial</a
        >
      </div>
    </div>
  }

  @if (user$ | async; as user) {
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-start rtl:justify-end">
          @if (isSidebarVisible()) {
            <button
              data-drawer-target="logo-sidebar"
              data-drawer-toggle="logo-sidebar"
              aria-controls="logo-sidebar"
              type="button"
              (click)="sidebar.toggle()"
              class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
              <span class="sr-only">Open sidebar</span>
              <fa-icon [icon]="faBarsStaggered" size="xl" class="h-6 w-6"></fa-icon>
            </button>
          }
          <a routerLink="/" class="flex ms-2 md:me-24">
            <img [src]="logoUrl" class="h-8 me-3" alt="" />
            <h1 class="font-display self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">
              <ng-template appRequireVendor>Distr</ng-template>
              <small class="ms-2 font-semibold text-gray-500 dark:text-gray-400 hidden sm:inline">
                <ng-template appRequireVendor>Vendor Platform</ng-template>
                <ng-template appRequireCustomer>{{ customerSubtitle }}</ng-template>
              </small>
            </h1>
          </a>
        </div>
        <div class="flex items-center">
          <div class="flex items-center ms-3">
            <div>
              <app-color-scheme-switcher></app-color-scheme-switcher>
            </div>

            @if (isVendorSomewhere() || availableOrgs().length > 0) {
              <div class="ms-2 me-4">
                <button
                  type="button"
                  class="flex items-center text-sm"
                  aria-expanded="false"
                  cdkOverlayOrigin
                  #organizationsDropdownTrigger="cdkOverlayOrigin"
                  (click)="organizationsOpened = !organizationsOpened">
                  <span class="sr-only">Show Organizations</span>
                  <span class="flex flex-col text-end text-sm font-medium text-gray-900 dark:text-gray-300" role="none">
                    {{ currentOrg()?.name }}
                    @if (auth.isSuperAdmin()) {
                      <span class="text-xs font-light text-amber-600 dark:text-amber-400" role="none">
                        Super Admin (Read-Only)
                      </span>
                    } @else if (isVendorSomewhere()) {
                      <span class="text-xs font-light text-gray-500 dark:text-gray-400" role="none">
                        {{ user.userRole | titlecase }}
                      </span>
                    }
                  </span>
                  <fa-icon
                    class="ml-2 text-gray-900 dark:text-gray-300"
                    [icon]="organizationsOpened ? faChevronUp : faChevronDown"></fa-icon>
                </button>
              </div>
              <ng-template
                cdkConnectedOverlay
                [cdkConnectedOverlayHasBackdrop]="true"
                (backdropClick)="organizationsOpened = false"
                [cdkConnectedOverlayBackdropClass]="'transparent'"
                [cdkConnectedOverlayOrigin]="organizationsDropdownTrigger"
                [cdkConnectedOverlayOpen]="organizationsOpened">
                <div
                  @dropdown
                  style="transform-origin: top center"
                  class="my-2 text-base list-none bg-white divide-y divide-gray-100 rounded-sm shadow-sm dark:bg-gray-700 dark:divide-gray-600">
                  @if (availableOrgs().length > 0) {
                    <ul class="py-1" role="none">
                      @for (org of availableOrgs(); track org.id) {
                        <li>
                          <button
                            (click)="switchContext(org)"
                            [title]="'Switch to this organization'"
                            class="flex items-center w-full text-start px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                            role="menuitem">
                            <fa-icon class="me-4" [icon]="faShuffle"></fa-icon>
                            <span
                              class="flex flex-col text-start text-sm font-medium text-gray-900 dark:text-gray-300"
                              role="none">
                              {{ org.name }}
                              <span class="text-xs font-light text-gray-500 dark:text-gray-400" role="none">
                                @if (!auth.isSuperAdmin()) {
                                  @if (isVendorSomewhere()) {
                                    @if (org.customerOrganizationId) {
                                      Customer
                                    } @else {
                                      Vendor
                                    }
                                    &bull;
                                  }
                                  @switch (org.userRole) {
                                    @case ('admin') {
                                      Administrator
                                    }
                                    @case ('read_write') {
                                      User
                                    }
                                    @case ('read_only') {
                                      Viewer
                                    }
                                  }
                                }
                              </span>
                            </span>
                          </button>
                        </li>
                      }
                    </ul>
                  } @else {
                    <ul class="py-1" role="none">
                      <li>
                        <div
                          class="flex items-center text-start px-4 py-2 text-sm text-gray-700 dark:text-gray-300"
                          role="menuitem">
                          You are not part of any other organization.
                        </div>
                      </li>
                    </ul>
                  }
                  @if (!auth.isSuperAdmin() && isVendorSomewhere()) {
                    <ul class="py-1" role="none">
                      <li>
                        <button
                          (click)="showCreateOrgModal()"
                          type="button"
                          class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                          role="menuitem">
                          <fa-icon [icon]="faPlus"></fa-icon>
                          Create Organization
                        </button>
                      </li>
                    </ul>
                  }
                </div>
              </ng-template>
            }

            <div class="ml-1">
              <button
                type="button"
                class="flex rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                aria-expanded="false"
                cdkOverlayOrigin
                #dropdownTrigger="cdkOverlayOrigin"
                (click)="userOpened = !userOpened">
                <span class="sr-only">Open user menu</span>
                @if (user.imageUrl) {
                  <img class="size-8 rounded-full" [attr.src]="user.imageUrl | secureImage | async" alt="user photo" />
                } @else {
                  <div class="shrink-0 text-gray-400 -m-1">
                    <fa-icon [icon]="faUserCircle" class="text-3xl cursor-pointer"></fa-icon>
                  </div>
                }
              </button>
            </div>
            <ng-template
              cdkConnectedOverlay
              [cdkConnectedOverlayHasBackdrop]="true"
              (backdropClick)="userOpened = false"
              [cdkConnectedOverlayBackdropClass]="'transparent'"
              [cdkConnectedOverlayOrigin]="dropdownTrigger"
              [cdkConnectedOverlayOpen]="userOpened">
              <div
                @dropdown
                style="transform-origin: top center"
                class="my-2 text-base list-none bg-white divide-y divide-gray-100 rounded-sm shadow-sm dark:bg-gray-700 dark:divide-gray-600">
                <div class="px-4 py-3" role="none">
                  <p class="text-sm text-gray-900 dark:text-white" role="none">{{ user.name }}</p>
                  <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                    {{ user.email }}
                  </p>
                </div>
                <ul class="py-1" role="none">
                  <li>
                    <a
                      (click)="userOpened = false"
                      routerLink="/settings/profile"
                      class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                      role="menuitem">
                      Edit Your Profile
                    </a>
                  </li>
                  @if (!auth.isSuperAdmin()) {
                    <li>
                      <a
                        (click)="userOpened = false"
                        routerLink="/settings/access-tokens"
                        class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                        role="menuitem">
                        Personal Access Tokens
                      </a>
                    </li>
                  }
                </ul>
                <ul class="py-1" role="none">
                  <li>
                    <button
                      type="button"
                      (click)="logout()"
                      class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                      role="menuitem">
                      Sign Out
                    </button>
                  </li>
                </ul>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  }
</nav>

<ng-template #createOrgModal>
  <div
    @modalFlyInOut
    style="transform-origin: top center"
    class="p-4 w-full mt-12 max-h-full bg-white rounded-lg shadow-sm dark:bg-gray-900">
    <!-- Modal header -->
    <div class="flex items-center justify-between p-4 md:p-5 border-b border-gray-200 rounded-t dark:border-gray-600">
      <h2 class="text-xl font-semibold text-gray-900 dark:text-white">Create Organization</h2>
      <button
        type="button"
        (click)="closeCreateOrgModal()"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
        <fa-icon [icon]="faXmark"></fa-icon>
        <span class="sr-only">Close modal</span>
      </button>
    </div>
    <!-- Modal body -->
    <div class="p-4 md:p-5 space-y-4">
      <section class="antialiased">
        <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
          <form class="mx-auto" (ngSubmit)="submitCreateOrgForm()" [formGroup]="createOrgForm">
            <div class="flex flex-col space-y-5">
              <div class="space-y-2">
                <label for="name" class="block text-sm font-medium text-gray-900 dark:text-white">
                  Organization Name
                </label>
                <input
                  type="text"
                  id="name"
                  formControlName="name"
                  autotrim
                  autocomplete="off"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                @if (createOrgForm.controls.name.invalid && createOrgForm.controls.name.touched) {
                  <div class="text-sm text-red-600 dark:text-red-500">Field is required.</div>
                }
              </div>

              <button
                type="submit"
                class="self-end text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Submit
              </button>
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>
</ng-template>
