<div
  class="flex space-x-1 items-center justify-end rtl:space-x-reverse"
  tabindex="0"
  role="button"
  [attr.aria-haspopup]="'dialog'"
  [attr.aria-expanded]="hovered()"
  (mouseenter)="hovered.set(true)"
  (mouseleave)="hovered.set(false)"
  (focus)="hovered.set(true)"
  (blur)="hovered.set(false)"
  (click)="hovered.set(!hovered())"
  cdkOverlayOrigin
  #metricsOverlayOrigin="cdkOverlayOrigin">
  @if (anyDiskWarning()) {
    <div class="text-red-400">
      <fa-icon [icon]="faHardDrive" />
      <fa-icon class="-ms-2" [icon]="faExclamation" />
    </div>
  }

  <div class="relative">
    <div
      class="gauge relative size-10 rounded-full bg-conic from-green-700 via-yellow-300 to-red-600"
      [style.--deg]="getUsageDegrees(metrics().cpuUsage)"></div>
    <div class="absolute inset-1 rounded-full bg-white dark:bg-gray-800"></div>
    <div class="absolute inset-0 flex items-center justify-center text-xs font-thin text-black dark:text-white">
      {{ metrics().cpuUsage | percent }}
    </div>
  </div>

  <div class="relative">
    <div
      class="gauge relative size-10 rounded-full bg-conic from-green-700 via-yellow-300 to-red-600"
      [style.--deg]="getUsageDegrees(metrics().memoryUsage)"></div>
    <div class="absolute inset-1 rounded-full bg-white dark:bg-gray-800"></div>
    <div class="absolute inset-0 flex items-center justify-center text-xs font-thin text-black dark:text-white">
      {{ metrics().memoryUsage | percent }}
    </div>
  </div>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="metricsOverlayOrigin"
  [cdkConnectedOverlayOpen]="hovered()"
  [cdkConnectedOverlayPush]="true"
  [cdkConnectedOverlayPositions]="[
    {originX: 'center', originY: 'bottom', overlayX: 'center', overlayY: 'top'},
    {originX: 'center', originY: 'top', overlayX: 'center', overlayY: 'bottom'},
  ]">
  <div class="mt-1 px-3 py-2 text-xs rounded-lg shadow-lg bg-gray-800 dark:bg-gray-700 text-white whitespace-nowrap">
    <div class="flex flex-col gap-2">
      <div>
        <span class="inline-block size-2 me-1" [appStatusDot]="metrics().cpuUsage > 0.75 ? 'danger' : 'ok'"></span>
        <span class="font-semibold">CPU:</span>
        {{ metrics().cpuUsage | percent: '1.1-1' }} of {{ metrics().cpuCoresMillis / 1000 }} Cores
      </div>
      <div>
        <span class="inline-block size-2 me-1" [appStatusDot]="metrics().memoryUsage > 0.75 ? 'danger' : 'ok'"></span>
        <span class="font-semibold">RAM:</span>
        {{ metrics().memoryUsage | percent: '1.1-1' }} of {{ metrics().memoryBytes | bytes: '1.0-0' }}
      </div>
      @for (disk of metrics().diskMetrics; track disk.path) {
        @let diskUsage = disk.bytesUsed / disk.bytesTotal;
        <div>
          <span class="inline-block size-2 me-1" [appStatusDot]="diskUsage > 0.75 ? 'danger' : 'ok'"></span>
          <span class="font-semibold">{{ disk.device }}:</span>
          {{ diskUsage | percent: '1.1-1' }} of {{ disk.bytesTotal | bytes: '1.0-0' }}
        </div>
      }
    </div>
  </div>
</ng-template>
