<div
  class="h-full rounded-lg overflow-hidden border border-gray-200 bg-white shadow-sm dark:border-gray-700 dark:bg-gray-800 font-medium text-gray-900 dark:text-white flex flex-col">
  <div class="mx-4 my-3 flex justify-between items-center min-w-0">
    <div class="flex justify-between items-center min-w-0">
      <div class="flex items-center gap-3 min-w-0">
        <div class="relative self-start shrink-0">
          @if (deploymentTarget().customerOrganization?.imageId; as imageId) {
            <img class="size-10 rounded-sm" [attr.src]="imageId | secureImage | async" alt="" />
          } @else {
            <img
              [ngSrc]="'/' + deploymentTarget().type + '.png'"
              [alt]="deploymentTarget().type"
              class="size-10 rounded-sm max-w-none"
              height="199"
              width="199" />
          }
          <deployment-target-status-dot
            class="absolute size-2.5 -bottom-0.5 -inset-e-0.5"
            [deploymentTarget]="deploymentTarget()" />
        </div>
        <div class="min-w-0">
          <a routerLink="/deployments" class="hover:underline" [queryParams]="{search: deploymentTarget().name}">
            @if (deploymentTarget().customerOrganization; as customer) {
              <h3 class="font-bold leading-none truncate" [title]="deploymentTarget().name">
                {{ customer.name }}
              </h3>
              <div class="text-gray-500 dark:text-gray-400 text-sm truncate">{{ deploymentTarget().name }}</div>
            } @else {
              <h3 class="font-bold truncate" [title]="deploymentTarget().name">
                {{ deploymentTarget().name }}
              </h3>
            }
          </a>
        </div>
      </div>
    </div>

    @if (deploymentTarget().metricsEnabled) {
      @if (deploymentTargetMetrics(); as metrics) {
        <app-deployment-target-metrics [metrics]="metrics" />
      }
    }
  </div>
  @if (deploymentTarget().deployments.length > 0) {
    <hr class="border-gray-200 dark:border-gray-600" />
  }
  @if (deploymentTarget().deployments.length > 0) {
    <ul class="overflow-hidden">
      @for (deployment of deploymentTarget().deployments; track deployment.id) {
        <li class="hover:bg-gray-100 dark:hover:bg-gray-700 border-t border-gray-200 dark:border-gray-600">
          <div class="px-4 py-2">
            <div class="flex items-center gap-3 text-sm">
              <app-deployment-app-name
                class="flex-1 min-w-0"
                [application]="deployment.application"
                [applicationVersionName]="deployment.applicationVersionName" />
              <div class="flex items-center gap-3 shrink-0">
                <app-deployment-status-text [deployment]="deployment" />
                @if (deployment.applicationLink) {
                  <a
                    [href]="deployment.applicationLink"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="px-2 py-1 inline-flex items-center text-sm font-medium text-center text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    <fa-icon
                      [icon]="faArrowUpRightFromSquare"
                      class="h-5 w-5 mr-1 -ml-0.5 text-gray-500 dark:text-gray-400" />
                    Open
                  </a>
                }
              </div>
            </div>
          </div>
        </li>
      }
    </ul>
  } @else {
    <div class="flex-1 flex items-center justify-center text-gray-500 dark:text-gray-400 text-sm p-4">
      No applications deployed.
    </div>
  }
</div>

<!-- TODO: Refactor these viewChild properties and related features out of the base component or make them non-required -->
<ng-template #instructionsModal />
<ng-template #deploymentModal />
<ng-template #deleteConfirmModal />
<ng-template #manageDeploymentTargetDrawer />
<ng-template #deploymentTargetNotesDrawer />
<ng-template #deleteDeploymentProgressModal />
