<div
  class="flex space-x-1 items-center justify-end rtl:space-x-reverse"
  tabindex="0"
  role="button"
  [attr.aria-haspopup]="'dialog'"
  [attr.aria-expanded]="hovered()"
  (mouseenter)="hovered.set(true)"
  (mouseleave)="hovered.set(false)"
  (focus)="hovered.set(true)"
  (blur)="hovered.set(false)"
  (click)="hovered.set(!hovered())"
  cdkOverlayOrigin
  #metricsOverlayOrigin="cdkOverlayOrigin">
  <div class="flex flex-col justify-center items-center">
    <div class="relative">
      <div class="gauge z-0 percent-{{ getPercentClass(metrics().cpuUsage) }} relative">
        <div class="gauge-center bg-white dark:bg-gray-800"></div>
      </div>
      <div class="absolute inset-0 flex items-center justify-center text-xs font-thin text-black dark:text-white">
        {{ metrics().cpuUsage | percent }}
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center">
    <div class="relative">
      <div class="gauge percent-{{ getPercentClass(metrics().memoryUsage) }} relative">
        <div class="gauge-center bg-white dark:bg-gray-800"></div>
      </div>
      <div class="absolute inset-0 flex items-center justify-center text-xs font-thin text-black dark:text-white">
        {{ metrics().memoryUsage | percent }}
      </div>
    </div>
  </div>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="metricsOverlayOrigin"
  [cdkConnectedOverlayOpen]="hovered()"
  [cdkConnectedOverlayPush]="true"
  [cdkConnectedOverlayPositions]="[
    {originX: 'center', originY: 'bottom', overlayX: 'center', overlayY: 'top'},
    {originX: 'center', originY: 'top', overlayX: 'center', overlayY: 'bottom'},
  ]">
  <div class="mt-1 px-3 py-2 text-xs rounded-lg shadow-lg bg-gray-800 dark:bg-gray-700 text-white whitespace-nowrap">
    <div class="flex gap-4">
      <div>
        <span class="font-semibold">CPU:</span>
        {{ metrics().cpuUsage | percent: '1.1-1' }} &middot; {{ metrics().cpuCoresMillis / 1000 }} Cores
      </div>
      <div>
        <span class="font-semibold">RAM:</span>
        {{ metrics().memoryUsage | percent: '1.1-1' }} &middot; {{ metrics().memoryBytes | bytes: '1.0-0' }}
      </div>
    </div>
  </div>
</ng-template>
