<button
  id="theme-toggle"
  type="button"
  (click)="switchColorScheme()"
  class="text-gray-500 inline-flex items-center justify-center dark:text-gray-400 hover:bg-gray-100 w-10 h-10 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
  @if (colorSchemeSignal() === '') {
    <fa-icon
      id="theme-toggle-dark-icon"
      [icon]="faMoon"
      size="lg"
      class="w-4 h-4 mb-1 mr-1 text-gray-400 transition duration-75 dark:text-gray-400" />
  }
  @if (colorSchemeSignal() === 'dark') {
    <fa-icon
      id="theme-toggle-light-icon"
      [icon]="faSun"
      size="lg"
      class="w-4 h-4 mb-1 mr-1 text-gray-400 transition duration-75 dark:text-gray-400" />
  }
  <span class="sr-only">Toggle dark mode</span>
</button>
