<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5 antialiased text-gray-900 dark:text-white">
  <div class="mx-auto max-w-screen-lg px-4">
    @if (artifact(); as artifact) {
      <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
        <div class="overflow-x-auto">
          <div class="flex flex-col gap-3 py-3 px-6 sm:py-4">
            <div class="flex items-center">
              <div class="shrink-0">
                @if (artifact.imageUrl) {
                  <img
                    (click)="uploadImage(artifact)"
                    class="w-16 h-16 rounded-sm cursor-pointer"
                    height="199"
                    width="199"
                    [attr.src]="artifact.imageUrl | secureImage | async"
                    alt="" />
                } @else {
                  <div class="shrink-0 text-gray-900 dark:text-gray-400">
                    <fa-icon
                      (click)="uploadImage(artifact)"
                      [icon]="faBox"
                      size="xl"
                      class="text-xl cursor-pointer"></fa-icon>
                  </div>
                }
              </div>
              <div class="flex-1 min-w-0 ms-4">
                <h2 class="text-2xl font-semibold truncate">
                  {{ artifact.name }}
                </h2>
                <p class="text-sm text-gray-500 dark:text-gray-400 truncate mt-1">
                  <app-uuid [uuid]="artifact.id" [small]="true"></app-uuid>
                </p>
              </div>

              @if (auth.isVendor() && auth.hasAnyRole('read_write', 'admin')) {
                <button
                  type="button"
                  class="text-gray-500 dark:text-gray-400 self-start px-1"
                  cdkOverlayOrigin
                  #dropdownTrigger="cdkOverlayOrigin"
                  (click)="showDropdown.set(true)">
                  <fa-icon [icon]="faEllipsisVertical" />
                </button>

                <ng-template
                  cdkConnectedOverlay
                  [cdkConnectedOverlayHasBackdrop]="true"
                  (backdropClick)="showDropdown.set(false)"
                  (detach)="showDropdown.set(false)"
                  cdkConnectedOverlayBackdropClass="transparent"
                  [cdkConnectedOverlayOrigin]="dropdownTrigger"
                  [cdkConnectedOverlayPositions]="[
                    {originX: 'end', originY: 'bottom', overlayX: 'end', overlayY: 'top'},
                  ]"
                  [cdkConnectedOverlayOpen]="showDropdown()">
                  <div
                    @dropdown
                    style="transform-origin: top center"
                    class="text-base list-none bg-white divide-y divide-gray-100 rounded-sm shadow-sm dark:bg-gray-700 dark:divide-gray-600 overflow-hidden">
                    <button
                      type="button"
                      aria-label="Delete"
                      (click)="deleteArtifact(artifact)"
                      class="text-start block w-full px-4 py-2 text-sm text-red-700 enabled:hover:text-white enabled:hover:bg-red-800 dark:text-red-500 dark:enabled:hover:text-white dark:enabled:hover:bg-red-600 disabled:opacity-60 disabled:cursor-not-allowed">
                      <fa-icon [icon]="faTrash" class="inline-block mr-2" />
                      Delete
                    </button>
                  </div>
                </ng-template>
              }

              <app-artifacts-download-count class="self-start" [source]="artifact" />
            </div>

            @if (getArtifactUsage(artifact); as usage) {
              <div class="text-sm">
                <div class="text-gray-500 dark:text-gray-400">Use this artifact with:</div>
                <div class="font-mono mt-1">
                  {{ usage }}
                  <app-clip [clip]="usage"></app-clip>
                </div>
              </div>
            }
          </div>
        </div>
      </div>

      <div class="mt-4 bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
        <div class="overflow-x-auto">
          <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            @for (version of artifact.versions; track version.digest) {
              @if (version.tags.length) {
                <li class="py-3 px-6 sm:py-4">
                  <div class="flex items-center gap-2">
                    <div class="flex-1 min-w-0">
                      <div class="flex flex-row gap-1 flex-wrap">
                        @for (label of version.tags; track label.name) {
                          <span
                            class="bg-blue-100 text-blue-800 text-xs font-medium px-2 py-0.5 rounded-md dark:bg-gray-700 dark:text-blue-400 border border-blue-400 flex items-center gap-1">
                            {{ label.name }}
                            @if (auth.isVendor() && auth.hasAnyRole('read_write', 'admin')) {
                              <button
                                type="button"
                                [attr.aria-label]="'Delete tag ' + label.name"
                                (click)="deleteArtifactTag(artifact, version, label.name)"
                                class="-mr-1 text-red-400 hover:text-red-600 transition-colors">
                                <fa-icon [icon]="faXmark"></fa-icon>
                              </button>
                            }
                          </span>
                        }
                      </div>
                      <ul class="flex gap-3 mt-1 text-xs font-normal text-gray-500 truncate dark:text-gray-400">
                        <li>{{ version.createdAt | relativeDate }}</li>
                        @if (version.size > 0) {
                          <li>{{ version.size | bytes }}</li>
                        }
                        <li>
                          <app-artifacts-hash [hash]="version.digest"></app-artifacts-hash>
                        </li>
                      </ul>
                    </div>
                    <div class="flex flex-col items-end gap-1" *appRequireVendor>
                      <app-artifacts-download-count [source]="version"></app-artifacts-download-count>
                      <app-artifacts-downloaded-by [source]="version"></app-artifacts-downloaded-by>
                    </div>
                  </div>
                </li>
              }
            }
          </ul>
        </div>
      </div>
    } @else {
      <div class="flex justify-center items-center py-8 text-gray-500 dark:text-gray-400">
        <fa-icon [icon]="faSpinner" class="animate-spin me-2" size="lg"></fa-icon>
        <span>Loading&hellip;</span>
      </div>
    }
  </div>
</section>
