<!-- Start block -->
<div
  class="flex flex-col md:flex-row items-stretch md:items-center md:space-x-3 space-y-3 md:space-y-0 justify-between m-4 dark:border-gray-700">
  <div class="w-full md:w-1/2">
    <form class="flex items-center" [formGroup]="filterForm">
      <label for="simple-search" class="sr-only">Search</label>
      <div class="relative w-full">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <fa-icon [icon]="faMagnifyingGlass" class="text-gray-500 dark:text-gray-400"></fa-icon>
        </div>
        <input
          type="text"
          id="simple-search"
          placeholder="Filter users"
          [formControl]="filterForm.controls.search"
          autotrim
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
      </div>
    </form>
  </div>
  <div
    class="w-full md:w-auto flex flex-col md:flex-row items-stretch md:items-center justify-end gap-4 flex-shrink-0 flex-grow">
    <app-quota-limit [usage]="users().length" [limit]="limit()" #quota />
    @if ((auth.isVendor() && auth.hasRole('read_write')) || auth.hasRole('admin')) {
      <button
        (click)="showInviteDialog()"
        [disabled]="quota.isLimitReached()"
        [title]="quota.isLimitReached() ? 'Limit reached' : ''"
        type="button"
        id="addUserButton"
        class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 disabled:opacity-50 disabled:cursor-not-allowed">
        <fa-icon [icon]="faPlus" class="text-gray-500 dark:text-gray-400 mr-2"></fa-icon>
        Add User
      </button>
    }
  </div>
</div>
<div class="overflow-x-auto">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="border-t border-gray-200 dark:border-gray-600 text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="p-4"></th>
        <th scope="col" class="p-4">Name</th>
        <th scope="col" class="p-4">E-Mail</th>
        <th scope="col" class="p-4">Join Date</th>
        @if (isProSubscription()) {
          <th scope="col" class="p-4">Role</th>
        }
        <th scope="col" class="p-4"></th>
      </tr>
    </thead>
    <tbody>
      @for (user of users$ | async; track user.id) {
        <tr class="border-t border-gray-200 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
          <td class="pl-4">
            @if (user.imageUrl) {
              <img
                (click)="uploadImage(user)"
                class="w-8 h-8 rounded-full cursor-pointer"
                [attr.src]="user.imageUrl | secureImage | async"
                alt="" />
            } @else {
              <div class="shrink-0 text-gray-900 dark:text-gray-400">
                <fa-icon
                  (click)="uploadImage(user)"
                  [icon]="faUserCircle"
                  size="xl"
                  class="text-xl cursor-pointer"></fa-icon>
              </div>
            }
          </td>
          <td
            class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white max-w-32 lg:max-w-64 xl:max-w-128 overflow-hidden text-ellipsis">
            @if (editNameUserId() === user.id) {
              <form [formGroup]="editNameForm" class="flex" (ngSubmit)="submitEditUserNameForm()">
                <input
                  type="text"
                  id="user-name"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm w-32 rounded-s-lg focus:ring-blue-500 focus:border-blue-500 block px-2 py-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Enter a name&hellip;"
                  formControlName="name" />
                <button
                  type="submit"
                  [disabled]="editNameFormLoading()"
                  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-e-lg text-sm px-3 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                  <fa-icon [icon]="faCheck" />
                </button>
              </form>
            } @else {
              @if (user.name) {
                {{ user.name }}
              } @else {
                <span class="text-gray-500">&ndash;</span>
              }

              @if (auth.hasRole('admin') || (auth.isVendor() && auth.hasRole('read_write'))) {
                <button
                  type="button"
                  aria-label="Edit User Name"
                  (click)="editUserName(user)"
                  class="text-gray-900 dark:text-gray-400 ms-1">
                  <fa-icon [icon]="faPen" />
                </button>
              }
            }
          </td>
          <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{ user.email }}
          </td>
          <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{ user.joinedOrgAt | date: 'short' }}
          </td>
          @if (isProSubscription()) {
            <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              @if (editRoleUserId() === user.id) {
                <form [formGroup]="editRoleForm" class="flex" (ngSubmit)="submitEditUserRoleForm()">
                  <select
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm w-32 rounded-s-lg focus:ring-blue-500 focus:border-blue-500 block px-2 py-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    id="user-role-select"
                    formControlName="userRole">
                    <option value="read_only">Viewer</option>
                    <option value="read_write">User</option>
                    <option value="admin">Administrator</option>
                  </select>
                  <button
                    type="submit"
                    [disabled]="editRoleFormLoading()"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-e-lg text-sm px-3 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                    <fa-icon [icon]="faCheck" />
                  </button>
                </form>
              } @else {
                @switch (user.userRole) {
                  @case ('read_only') {
                    Viewer
                  }
                  @case ('read_write') {
                    User
                  }
                  @case ('admin') {
                    Admin
                  }
                }
                @if (auth.hasRole('admin') || (auth.isVendor() && auth.hasRole('read_write'))) {
                  <button
                    type="button"
                    aria-label="Edit User Role"
                    (click)="editUserRole(user)"
                    class="text-gray-900 dark:text-gray-400 ms-1">
                    <fa-icon [icon]="faPen" />
                  </button>
                }
              }
            </td>
          }
          <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white flex justify-end space-x-2">
            @if ((auth.isVendor() && auth.hasRole('read_write')) || auth.hasRole('admin')) {
              @if (!user.emailVerified) {
                <button
                  *appRequireVendor
                  type="button"
                  (click)="resendInvitation(user)"
                  class="py-2 px-3 text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                  <fa-icon [icon]="faRepeat" class="text-gray-500 dark:text-gray-400 h-4 w-4"></fa-icon>
                  Resend invitation
                </button>
              }
              <button
                type="button"
                aria-label="Delete"
                (click)="deleteUser(user)"
                class="py-2 px-3 text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm text-center dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
                <fa-icon [icon]="faTrash" class="h-4 w-4"></fa-icon>
              </button>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

<ng-template #inviteUserDialog>
  <div
    @modalFlyInOut
    style="transform-origin: top center"
    class="p-4 w-xl max-w-full mt-12 max-h-full bg-white rounded-lg shadow-sm dark:bg-gray-900">
    <!-- Modal header -->
    <div class="flex items-center justify-between p-4 md:p-5 border-b border-gray-200 rounded-t dark:border-gray-600">
      <h2 class="text-xl font-semibold text-gray-900 dark:text-white">
        @if (auth.isVendor() && customerOrganizationId() !== undefined) {
          Add a user to this customer
        } @else {
          Add a user to your organization
        }
      </h2>
      <button
        type="button"
        (click)="closeInviteDialog()"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
        <fa-icon [icon]="faXmark" />
        <span class="sr-only">Close modal</span>
      </button>
    </div>

    <!-- Modal body -->
    <div class="p-4 md:p-5 space-y-4">
      <section class="antialiased">
        <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
          @if (!inviteUrl) {
            <form class="mx-auto" (ngSubmit)="submitInviteForm()" [formGroup]="inviteForm">
              <div class="flex flex-col space-y-5">
                <div class="space-y-2">
                  <label for="name" class="block text-sm font-medium text-gray-900 dark:text-white">
                    Full Name <span class="text-gray-500">(optional)</span>
                  </label>
                  <input
                    type="text"
                    id="name"
                    formControlName="name"
                    autotrim
                    autocomplete="off"
                    placeholder="Michael Scott"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                </div>

                <div class="space-y-2">
                  <label for="email" class="block text-sm font-medium text-gray-900 dark:text-white">
                    E-Mail Address <span class="text-red-500">*</span>
                  </label>
                  <input
                    type="email"
                    id="email"
                    formControlName="email"
                    autotrim
                    autocomplete="off"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="firstname.lastname@company.com"
                    required />
                  @if (inviteForm.controls.email.invalid && inviteForm.controls.email.touched) {
                    <div class="text-sm text-red-600">
                      @if (inviteForm.controls.email.errors?.['email']) {
                        Please enter a valid e-mail address
                      } @else {
                        E-mail is required
                      }
                    </div>
                  }
                </div>
                @if (isProSubscription()) {
                  <div class="space-y-2">
                    <label for="userRole" class="block text-sm font-medium text-gray-900 dark:text-white">
                      User role <span class="text-red-500">*</span>
                    </label>
                    <select
                      id="userRole"
                      formControlName="userRole"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                      <option value="read_only">Viewer</option>
                      <option value="read_write">User</option>
                      <option value="admin">Administrator</option>
                    </select>

                    @if (inviteForm.controls.userRole.invalid && inviteForm.controls.userRole.touched) {
                      <div class="text-sm text-red-600">This field is required</div>
                    }

                    @switch (inviteForm.controls.userRole.value) {
                      @case ('read_only') {
                        <div class="text-sm text-gray-500">
                          Read-only users can view applications, deployments, artifacts and licenses.
                        </div>
                      }
                      @case ('read_write') {
                        <div class="text-sm text-gray-500">
                          Read/Write users can view and modify applications, deployments, artifacts and licenses.
                        </div>
                      }
                      @case ('admin') {
                        <div class="text-sm text-gray-500">
                          Administrator users can view, modify, and manage all aspects of the platform, including user
                          management, organization settings and billing.
                        </div>
                      }
                    }
                  </div>
                }

                <button
                  type="submit"
                  [disabled]="inviteFormLoading()"
                  class="self-end text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Submit
                </button>
              </div>
            </form>
          } @else {
            <div class="flex flex-col">
              <div
                class="flex items-center p-4 mb-4 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 dark:border-green-800"
                role="alert">
                <div class="flex flex-col w-full">
                  <div class="font-medium">
                    @if (auth.isVendor() && customerOrganizationId() !== undefined) {
                      Customer has been invited to the organization
                    } @else {
                      User has been invited to the organization
                    }
                  </div>
                  <div>
                    They can finalize their account using this link:
                    <div class="flex">
                      <pre class="overflow-x-auto text-ellipsis">{{ inviteUrl }}</pre>
                      <button type="button" class="text-gray-900 dark:text-white" (click)="copyInviteUrl()">
                        <fa-icon [icon]="faClipboard"></fa-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <button
                type="button"
                class="self-end text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                (click)="closeInviteDialog()">
                Close
              </button>
            </div>
          }
        </div>
      </section>
    </div>
  </div>
</ng-template>
