<div class="grid gap-4 mb-4 grid-cols-2" [formGroup]="deployForm">
  <div class="col-span-2 sm:col-span-1">
    <label for="applicationId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
      Application
    </label>
    <select
      id="applicationId"
      formControlName="applicationId"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 disabled:opacity-60">
      @for (app of applications$ | async; track app.id) {
        <option [value]="app.id">{{ app.name }}</option>
      }
    </select>
    @if (deployForm.controls.applicationId.invalid && deployForm.controls.applicationId.touched) {
      <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
    }
  </div>
  <div class="col-span-2 sm:col-span-1">
    <label for="applicationVersion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Version</label>
    <select
      id="applicationVersion"
      formControlName="applicationVersionId"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 disabled:opacity-60">
      @for (version of availableApplicationVersions$ | async; track version.id) {
        <option [value]="version.id">{{ version.name }}</option>
      }
    </select>
    @if (deployForm.controls.applicationVersionId.invalid && deployForm.controls.applicationVersionId.touched) {
      <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
    }
  </div>
  @if (licenseControlVisible$ | async) {
    <div class="col-span-2 sm:col-span-1">
      <label for="applicationLicense" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Select License
      </label>
      <select
        id="applicationLicense"
        formControlName="applicationLicenseId"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 disabled:opacity-60">
        @for (license of licenses$ | async; track license.id) {
          <option [value]="license.id">{{ license.name }}</option>
        }
      </select>
      @if (deployForm.controls.applicationLicenseId.invalid && deployForm.controls.applicationLicenseId.touched) {
        <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
      }
    </div>
  }
  @if (deployForm.controls.releaseName.enabled) {
    <div class="col-span-2">
      <label for="release-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Helm release name
      </label>
      <input
        type="text"
        id="release-name"
        autotrim
        formControlName="releaseName"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
      @if (deployForm.controls.releaseName.invalid && deployForm.controls.releaseName.touched) {
        <p class="mt-1 text-sm text-red-600 dark:text-red-500">
          Field is required, must not be longer than 53 chars, and use lower case characters, numbers, and hyphens.
        </p>
      }
    </div>
  }
  @if (
    deployForm.controls.applicationVersionId.valid &&
    (deployForm.controls.envFileData.enabled || deployForm.controls.valuesYaml.enabled || resources().length > 0)
  ) {
    <div class="col-span-2 text-gray-500 dark:text-gray-400">
      <div class="flex flex-wrap border-b border-gray-200 dark:border-gray-600">
        @if (deployForm.controls.envFileData.enabled) {
          <button
            type="button"
            (click)="activeTab.set('environment')"
            class="tab-label text-sm cursor-pointer inline-flex items-center justify-center p-2 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
            [class.text-blue-600]="activeTab() === 'environment'"
            [class.dark:text-blue-500]="activeTab() === 'environment'"
            [class.border-blue-600]="activeTab() === 'environment'"
            [class.border-transparent]="activeTab() !== 'environment'">
            Environment
          </button>
          <button
            type="button"
            (click)="activeTab.set('compose')"
            class="tab-label text-sm cursor-pointer inline-flex items-center justify-center p-2 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
            [class.text-blue-600]="activeTab() === 'compose'"
            [class.dark:text-blue-500]="activeTab() === 'compose'"
            [class.border-blue-600]="activeTab() === 'compose'"
            [class.border-transparent]="activeTab() !== 'compose'">
            Docker Compose File
          </button>
        }
        @if (deployForm.controls.valuesYaml.enabled) {
          <button
            type="button"
            (click)="activeTab.set('values')"
            class="tab-label text-sm cursor-pointer inline-flex items-center justify-center p-2 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
            [class.text-blue-600]="activeTab() === 'values'"
            [class.dark:text-blue-500]="activeTab() === 'values'"
            [class.border-blue-600]="activeTab() === 'values'"
            [class.border-transparent]="activeTab() !== 'values'">
            Helm Values
          </button>
        }
        @for (resource of resources(); track resource.id) {
          <button
            type="button"
            (click)="activeTab.set('resource-' + $index)"
            class="tab-label text-sm cursor-pointer inline-flex items-center justify-center p-2 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
            [class.text-blue-600]="activeTab() === 'resource-' + $index"
            [class.dark:text-blue-500]="activeTab() === 'resource-' + $index"
            [class.border-blue-600]="activeTab() === 'resource-' + $index"
            [class.border-transparent]="activeTab() !== 'resource-' + $index">
            {{ resource.name }}
          </button>
        }
      </div>

      <div class="mt-4">
        @if (activeTab() === 'environment') {
          <app-editor
            id="env-file"
            class="block p-2.5 w-full font-mono text-sm text-gray-900 caret-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:caret-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            formControlName="envFileData">
          </app-editor>
          <div class="text-xs text-gray-500 dark:text-gray-400 mt-1">
            Set your environment variables here. Documentation:
            <a
              target="_blank"
              class="text-primary-600 underline"
              href="https://docs.docker.com/compose/how-tos/environment-variables/variable-interpolation/#env-file-syntax">
              Env File Syntax</a
            >.
            @if (auth.hasAnyRole('read_write', 'admin')) {
              You can also
              <a [routerLink]="secretsUrl()" target="_blank" class="text-primary-600 underline"
                >configure and reference secrets</a
              >.
            }
          </div>
        }
        @if (activeTab() === 'compose') {
          <app-editor
            id="compose-file"
            language="yaml"
            class="cursor-not-allowed block p-2.5 w-full font-mono text-sm text-gray-900 caret-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:caret-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            [formControl]="composeFile">
          </app-editor>
          <div class="text-xs text-gray-500 dark:text-gray-400 mt-1">
            This Docker Compose file comes from the application version and is read-only.
          </div>
        }
        @if (activeTab() === 'values') {
          <app-editor
            language="yaml"
            class="block p-2.5 w-full font-mono text-sm text-gray-900 caret-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:caret-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            formControlName="valuesYaml">
          </app-editor>
          @if (auth.hasAnyRole('read_write', 'admin')) {
            <div class="text-xs text-gray-500 dark:text-gray-400 mt-1">
              You can
              <a
                [routerLink]="secretsUrl()"
                target="_blank"
                class="font-medium text-primary-600 hover:underline dark:text-primary-500"
                >configure and reference secrets</a
              >
              in your Helm values.
            </div>
          }
        }
        @for (resource of resources(); track resource.id) {
          @if (activeTab() === 'resource-' + $index) {
            <div
              class="markdown p-4 rounded-lg border border-gray-200 dark:border-gray-500 text-gray-900 dark:text-white"
              [innerHTML]="resource.content | markdown | async"></div>
          }
        }
      </div>
    </div>
  }

  @if (swarmModeVisible$ | async) {
    <div class="col-span-2">
      <label class="inline-flex items-center has-disabled:opacity-60 not-has-disabled:cursor-pointer">
        <input
          type="checkbox"
          class="size-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          formControlName="swarmMode" />
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Swarm mode</span>
      </label>
    </div>
  }

  @if (deployForm.controls.ignoreRevisionSkew.enabled) {
    <div class="col-span-2">
      <label class="inline-flex items-center has-disabled:opacity-60 not-has-disabled:cursor-pointer">
        <input
          type="checkbox"
          class="size-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          formControlName="ignoreRevisionSkew" />
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Ignore Helm revision skew</span>
      </label>
      <div class="text-xs text-gray-500">
        Check this if you want to force the agent to overwrite a newer Helm release
      </div>
    </div>
  }

  @if (deployForm.controls.forceRestart.enabled) {
    <div class="col-span-2">
      <label class="inline-flex items-center has-disabled:opacity-60 not-has-disabled:cursor-pointer">
        <input
          type="checkbox"
          class="size-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          formControlName="forceRestart" />
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Force restart</span>
      </label>
    </div>
  }

  @if (!deployForm.value.deploymentId) {
    <div class="col-span-2">
      <label class="inline-flex items-center has-disabled:opacity-60 not-has-disabled:cursor-pointer">
        <input
          type="checkbox"
          class="size-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          formControlName="logsEnabled" />
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Enable logs collection</span>
      </label>
    </div>
  }

  @if (deployForm.controls.helmOptionsEnabled.enabled) {
    <div class="col-span-2 space-y-2">
      <label class="inline-flex items-center has-disabled:opacity-60 not-has-disabled:cursor-pointer">
        <input
          type="checkbox"
          class="size-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          formControlName="helmOptionsEnabled" />
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Customize Helm options</span>
      </label>

      @if (deployForm.controls.helmOptions.enabled) {
        @let fg = deployForm.controls.helmOptions;
        <fieldset
          class="py-3 px-4 grid gap-4 grid-cols-1 md:grid-cols-2 rounded-lg border border-gray-300 dark:border-gray-500"
          formGroupName="helmOptions">
          <legend class="sr-only">Helm options</legend>

          <div>
            <label
              for="helm-options-wait-strategy"
              class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">
              Wait strategy
            </label>
            <select
              id="helm-options-wait-strategy"
              formControlName="waitStrategy"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 disabled:opacity-60">
              <option value="watcher">Watcher</option>
              <option value="hookOnly">Hook only</option>
              <option value="legacy">Legacy</option>
            </select>
          </div>

          <div>
            <label for="helm-options-timeout" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">
              Timeout
            </label>
            <input
              type="text"
              id="helm-options-timeout"
              autotrim
              formControlName="timeout"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
            @if (fg.controls.timeout.touched && fg.controls.timeout.invalid) {
              <p class="mt-1 text-sm text-red-600 dark:text-red-500">
                Please enter a valid duration. Examples: <code>1h30m</code>, <code>5m</code>, <code>1m30s</code>
              </p>
            }
          </div>

          <label class="col-span-2 inline-flex items-center has-disabled:opacity-60 not-has-disabled:cursor-pointer">
            <input
              type="checkbox"
              class="size-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
              formControlName="rollbackOnFailure" />
            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Rollback on failure</span>
          </label>
          <label class="col-span-2 inline-flex items-center has-disabled:opacity-60 not-has-disabled:cursor-pointer">
            <input
              type="checkbox"
              class="size-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
              formControlName="cleanupOnFailure" />
            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Cleanup on failure</span>
          </label>

          <div class="col-span-2 text-xs text-gray-500">
            Please refer to the
            <a
              class="font-medium text-primary-600 hover:underline dark:text-primary-500"
              href="https://helm.sh/docs/helm/helm_upgrade#options"
              target="_blank"
              >Helm documentation</a
            >
            for details about the above options.
          </div>
        </fieldset>
      }
    </div>
  }
</div>
