<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5 antialiased">
  <div class="mx-auto max-w-screen-lg px-4">
    @if (tutorialsService.allCompleted$ | async) {
      <div
        class="flex p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400"
        role="alert">
        <fa-icon [icon]="faLightbulb" class="me-4" />
        <div>
          <div class="font-medium">
            <p><b>Congratulations!</b> You have successfully completed all the tutorials.</p>
            <p class="mt-2">
              You are now eligible for a swag pack. Reach out to support&commat;glasskube.com for more information.
            </p>
          </div>
        </div>
      </div>
    } @else {
      <div
        class="flex p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
        role="alert">
        <fa-icon [icon]="faCircleCheck" class="me-4" />
        <div>
          <div class="font-bold">Welcome to Distr!</div>
          <div class="font-medium mt-2">
            Distr helps you to distribute your software to self-managed and BYOC environments with minimal setup.
          </div>
          <div class="font-medium mt-2">
            For fully self-managed deployments you can use the Artifact Registry to distribute your OCI artifacts
            (Docker Images, Helm Charts, etc).<br />
            You will be able to see the pull history in the Downloads section of the Registry which customer has
            downloaded which version of your for images.<br />
            Get started with the Artifact Registry tutorial.
          </div>
          <div class="font-medium mt-2">
            For all BYOC and assisted self-managed use-cases, you can use the Distr agents to manage the deployment in
            their infrastructure.
          </div>
        </div>
      </div>

      <div
        class="flex p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400"
        role="alert">
        <fa-icon [icon]="faLightbulb" class="me-4" />
        <div>
          <div class="font-medium">
            After completing all 3 tutorials you are eligible for a Distr swag pack, including Socks, T-Shirt, stickers
            and much more!
          </div>
        </div>
      </div>
    }

    <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
      <div class="overflow-x-auto">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          @for (tutorial of tutorialsService.tutorialsProgress$ | async; track tutorial.id) {
            <li class="py-3 px-6 sm:py-4">
              <div class="flex items-center">
                <div class="shrink-0 text-gray-900 dark:text-white">
                  <fa-icon class="text-xl inline-block h-5 w-5" [icon]="tutorial.icon" />
                </div>
                <div class="flex-1 min-w-0 ms-4">
                  <a
                    class="font-medium text-gray-900 truncate dark:text-white hover:underline hover:text-blue-600 dark:hover:text-blue-500"
                    [routerLink]="['/', 'tutorials', tutorial.id]">
                    {{ tutorial.name }}
                  </a>
                  @if (tutorial?.progress?.createdAt && !tutorial?.progress?.completedAt) {
                    <span
                      class="ml-4 bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-blue-400 border border-blue-400">
                      In Progress
                    </span>
                  } @else if (tutorial?.progress?.completedAt) {
                    <span
                      class="ml-4 bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-green-400 border border-green-400">
                      <fa-icon [icon]="faCheck" />
                      Completed
                    </span>
                  }
                  <div class="text-xs text-gray-500 dark:text-gray-400 mt-1">
                    {{ tutorial.description }}
                  </div>
                  <div></div>
                </div>
                <div class="flex justify-stretch sm:justify-end space-x-2.5">
                  <a
                    [routerLink]="['/', 'tutorials', tutorial.id]"
                    class="flex-1 sm:flex-none items-center justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    @if (tutorial?.progress?.completedAt) {
                      View
                    } @else if (tutorial?.progress?.createdAt) {
                      Resume Tutorial
                    } @else {
                      Start Tutorial
                    }
                    <fa-icon class="ml-2" [icon]="faArrowRight" />
                  </a>
                </div>
              </div>
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
</section>
