<form [formGroup]="editForm" class="space-y-4">
  <div class="space-y-4 mt-4">
    <div class="grid grid-cols-2 md:grid-cols-2 space-y-4 sm:flex sm:space-x-4 sm:space-y-0">
      <div class="w-full">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name *</label>
        <input
          formControlName="name"
          autotrim
          type="text"
          id="name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
          placeholder="License name" />
        @if (editForm.controls.name.invalid && editForm.controls.name.touched) {
          <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
        }
      </div>
      <div class="w-full">
        <label for="expiresAt" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Expires At</label>
        <input
          formControlName="expiresAt"
          type="date"
          id="expiresAt"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
          placeholder="License Expiry Date" />
      </div>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-2 space-y-4 sm:flex sm:space-x-4 sm:space-y-0">
      <div class="w-full">
        <label for="subjectId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          Application *
        </label>
        <select
          id="subjectId"
          formControlName="subjectId"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
          @for (app of applications$ | async; track app.id) {
            <option [value]="app.id">{{ app.name }}</option>
          }
        </select>
        @if (editForm.controls.subjectId.invalid && editForm.controls.subjectId.touched) {
          <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
        }
      </div>

      <div class="w-full">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Application Versions * </label>
        <button
          class="inline-flex w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
          type="button"
          cdkOverlayOrigin
          #dropdownTriggerButton
          #dropdownTrigger="cdkOverlayOrigin"
          [disabled]="!auth.hasAnyRole('admin', 'read_write')"
          (click)="toggleDropdown()">
          <span class="flex-grow text-left"
            >{{
              editForm.controls.includeAllItems.value
                ? 'All versions and future versions'
                : subjectItemsSelected + ' versions selected'
            }}
          </span>
          <fa-icon
            class="transition duration-150 ease-in-out"
            [class.opacity-30]="!auth.hasAnyRole('admin', 'read_write')"
            [class.rotate-x-180]="dropdownOpen()"
            [icon]="faChevronDown" />
        </button>

        <ng-template
          cdkConnectedOverlay
          [cdkConnectedOverlayHasBackdrop]="true"
          (backdropClick)="dropdownOpen.set(false)"
          [cdkConnectedOverlayBackdropClass]="'transparent'"
          [cdkConnectedOverlayOrigin]="dropdownTrigger"
          [cdkConnectedOverlayMinWidth]="dropdownWidth + 'px'"
          [cdkConnectedOverlayOpen]="dropdownOpen()">
          <div
            @dropdown
            style="transform-origin: top center"
            class="w-full text-base list-none bg-white divide-y divide-gray-100 rounded-sm shadow-sm dark:bg-gray-700 dark:divide-gray-600">
            <ul
              class="w-full text-sm font-medium text-gray-900 bg-white border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
              <li class="w-full border-gray-200 dark:border-gray-600">
                <div class="flex items-center ps-3">
                  <input
                    id="all-versions-checkbox"
                    formControlName="includeAllItems"
                    type="checkbox"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-xs focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" />
                  <label
                    for="all-versions-checkbox"
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >All versions and future versions</label
                  >
                </div>
              </li>
              <ng-container formArrayName="activeVersions">
                @for (versionCtrl of activeVersionsArray.controls; track i; let i = $index) {
                  @let item = selectedApplication()?.versions?.[i];
                  @let itemLabel = selectedApplication()?.versions?.[i]?.name;
                  <li class="w-full border-t border-gray-200 dark:border-gray-600">
                    <div class="flex items-center ps-3">
                      <input
                        id="version-checkbox-{{ i }}"
                        type="checkbox"
                        [formControlName]="i"
                        [value]="item"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-xs focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" />
                      <label
                        for="version-checkbox-{{ i }}"
                        class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                        {{ itemLabel }}
                      </label>
                    </div>
                  </li>
                }
              </ng-container>

              <ng-container formArrayName="archivedVersions">
                @if (includedArchivedVersions().length > 0) {
                  <li class="w-full border-t border-gray-200 dark:border-gray-600">
                    <div class="flex items-center ps-3 py-3 text-sm font-medium text-gray-900 dark:text-gray-300">
                      <details class="open:border-gray-200 dark:open:border-gray-700 rounded-lg text-sm font-medium">
                        <summary class="select-none">
                          Including {{ includedArchivedVersions().length }} Archived Versions
                        </summary>
                        <ul
                          class="w-full mt-1 text-sm font-medium text-gray-900 bg-white border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                          @for (versionCtrl of archivedVersionsArray.controls; track i; let i = $index) {
                            @let item = selectedApplication()?.versions?.[i];
                            @let itemLabel = selectedApplication()?.versions?.[i]?.name;
                            <li class="w-full border-gray-200 dark:border-gray-600">
                              <div class="flex items-center">
                                <input
                                  type="checkbox"
                                  id="archived-checkbox-{{ i }}"
                                  [formControlName]="i"
                                  [value]="item"
                                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-xs focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" />
                                <label
                                  for="archived-checkbox-{{ i }}"
                                  class="w-full py-1 ms-2 font-medium text-gray-400 dark:text-gray-500 cursor-not-allowed"
                                  >{{ itemLabel }}</label
                                >
                              </div>
                            </li>
                          }
                        </ul>
                      </details>
                    </div>
                  </li>
                }
              </ng-container>
            </ul>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div>
    <label for="customerOrganizationId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
      Owner
    </label>
    <select
      id="customerOrganizationId"
      formControlName="customerOrganizationId"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
      @for (customer of customers$ | async; track customer.id) {
        <option [value]="customer.id">{{ customer.name }}</option>
      }
    </select>
    @if (editForm.controls.customerOrganizationId.invalid && editForm.controls.customerOrganizationId.touched) {
      <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
    }
  </div>

  <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />

  <h5 class="inline-flex items-center mb-6 text-sm font-semibold text-gray-500 uppercase dark:text-gray-400">
    External Registry Configuration (Optional)
  </h5>

  <div
    class="flex items-center p-4 mb-4 text-sm text-blue-800 border border-blue-300 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400 dark:border-blue-800"
    role="alert">
    <fa-icon [icon]="faLightbulb" class="me-4"></fa-icon>
    The Distr agent is able to pull licensed artifacts from the Distr registry without any additional configuration. If
    you are using artifacts from external authenticated registries, you can configure the credentials here.
  </div>

  <div class="w-full">
    <label for="registryUrl" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Registry URL</label>
    <input
      [formControl]="editForm.controls.registry.controls.url"
      autotrim
      type="text"
      id="registryUrl"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
    @if (
      editForm.controls.registry.invalid &&
      editForm.controls.registry.controls.url.touched &&
      !editForm.controls.registry.controls.url.value
    ) {
      <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
    }
  </div>

  <div class="grid grid-cols-2 md:grid-cols-2 space-y-4 sm:flex sm:space-x-4 sm:space-y-0">
    <div class="w-full">
      <label for="registryUsername" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Registry Username</label
      >
      <input
        [formControl]="editForm.controls.registry.controls.username"
        autotrim
        type="text"
        id="registryUsername"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" />
      @if (
        editForm.controls.registry.invalid &&
        editForm.controls.registry.controls.username.touched &&
        !editForm.controls.registry.controls.username.value
      ) {
        <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
      }
    </div>

    <div class="w-full">
      <label for="registryPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Registry Password</label
      >
      <input
        [formControl]="editForm.controls.registry.controls.password"
        autotrim
        type="text"
        id="registryPassword"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        data-ph-mask-text="true" />
      @if (
        editForm.controls.registry.invalid &&
        editForm.controls.registry.controls.password.touched &&
        !editForm.controls.registry.controls.password.value
      ) {
        <p class="mt-1 text-sm text-red-600 dark:text-red-500">Field is required.</p>
      }
    </div>
  </div>
</form>
