# mandatory values:
HELLO_DISTR_HOST= # hostname only, do not include the scheme or a path
HELLO_DISTR_DB_NAME=
HELLO_DISTR_DB_USER=
HELLO_DISTR_DB_PASSWORD=

# optional values (defaults shown):
HELLO_DISTR_PROTOCOL=http # http or https
