name: Build SDK

on:
  push:
    branches:
      - 'main'
    paths:
      - sdk/**
    tags:
      - '*'
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./sdk/js
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10
      - name: Setup node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '24'
          cache: pnpm
          cache-dependency-path: sdk/js/pnpm-lock.yaml
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Build application
        run: pnpm run build
      - name: Build docs
        run: pnpm run docs
      - name: Check if repository is clean
        run: |
          STATUS="$(git status --porcelain)"
          if [ -z "$STATUS" ]; then
            echo Repository is clean.
          else
            echo "Repository is not clean:
          $STATUS
            You might want to run 'pnpm i && pnpm run docs' in sdk/js and try again"
            exit 1
          fi
      - name: Publish to npmjs
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        run: pnpm publish --access public --no-git-checks
